<!-- views/partials/footer.ejs -->
<div class="clearfix"></div>
<footer role="contentinfo" class="footer">
    <p class="legal">
        <small>© 2019 Arranger. All Rights Reserved.</small>
    </p>
</footer>