<!-- Search form -->
<div class="container search-card">
    <form class="card card-sm" action="/search" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="address-input">address</span>
            </div>
            <input type="text" class="form-control" placeholder="eg, street, city, state" name="address">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="zipcode-input">zipcode</span>
            </div>
            <input type="text" class="form-control" placeholder="eg, zipcode" name="zipcode">
        </div>

        <div class="input-group mb-3">
            <button class="btn btn-md btn-info" type="submit">Search</button>
        </div>
    </form>

    <% include ../partials/sun_status.ejs %>

</div>
