body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.search-card {
  margin-top: 10px;
  float: left;
<<<<<<< HEAD
  width: 400px;
=======
  width: 500px;
>>>>>>> 2ae423e2ee6b06d3a93663639afc290b2dfcf384
}

.search-result {
  float: right;
  margin-top: 10px;
<<<<<<< HEAD
  width: 650px;
=======
  width: 700px;
>>>>>>> 2ae423e2ee6b06d3a93663639afc290b2dfcf384
  padding-left: 20px;
  border-left: 3px solid #c8c8c8;
}

.address_card {
  padding: 10px;
}

/* FOOTER
------------------------------------------ */
footer[role="contentinfo"] {
  border-top: 1px solid #cacbcb;
  display: block;
<<<<<<< HEAD
  float: none;
=======
>>>>>>> 2ae423e2ee6b06d3a93663639afc290b2dfcf384
}

.footer p {
  color: #3a3a3a;
  font-family: arial, helvetica, sans-serif;
  font-size: 0.688em;
  text-align: center;
}

.footer p small {
  font-size: inherit;
<<<<<<< HEAD
}

/* CLEAR FLOATING BEFORE FOOTER
------------------------------------------ */
.clearfix {
  clear: both;
=======
>>>>>>> 2ae423e2ee6b06d3a93663639afc290b2dfcf384
}
