<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
<header>
    <% include ../partials/nav.ejs %>
</header>

<!-- Page Content -->
<main class="container">
    <!--SEARCH FORM SECTION-->
    <% include ../partials/search_card.ejs %>

    <!--SEARCH RESULT SECTION-->
    <% include ../partials/search_result.ejs %>
</main>

<% include ../partials/footer.ejs %>

</body>
</html>
