<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body onload="">
<header>
    <% include ../partials/nav.ejs %>
</header>

<!-- Page Content -->
<main class="container">
  
</main>

<% include ../partials/footer.ejs %>

</body>
</html>
