<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <% include ../page/dialog.ejs %>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Droppable - Simple photo manager</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  #gallery { float: left; width: 65%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 146px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
  #cart { float: right; width: 32%; min-height: 18em; padding: 1%; }
  #cart h4 { line-height: 16px; margin: 0 0 0.4em; }
  #cart h4 .ui-icon { float: left; }
  #cart .gallery h5 { display: none; }

  .singlepanel {
      float: left;
      height: 2%;
      width: 2%;
      margin-right: 2px;
      z-index: 10000;
  }

  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    
    $(".singlepanel").draggable();

    // There's the gallery and the cart
    var $gallery = $( "#gallery" ), $cart = $( "#cart" );
 
    // Let the gallery items be draggable
    $( "li", $gallery ).draggable({
      cancel: "a.ui-icon", // clicking an icon won't initiate dragging
      revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move"
    });
 
    // Let the gallery be droppabl, accepting items from the cart
    $gallery.droppable({
      accept: "#cart li",
      classes: {
        "ui-droppable-active": "ui-state-highlight"
      },
      drop: function( event, ui ) {
        removeItem( ui.draggable );
      }
    });
 
    // Let the cart be droppable, accepting the gallery items
    $cart.droppable({
      accept: "#gallery > li",
      classes: {
        "ui-droppable-active": "custom-state-active"
      },
      drop: function( event, ui ) {
        addItem( ui.draggable );
      }
    });
 
    // remove from cart
    var add_icon = "<a href='link/to/recycle/script/when/we/have/js/off' title='remove this item' class='ui-icon ui-icon-plusthick'>Recycle image</a>";
    function removeItem( $item ) {
        $item.fadeOut(function() {
        $item
          .find( "a.ui-icon-trash" )
            .remove()
          .end()
          .css( "width", "146px")
          .append( add_icon )
          .find( "img" )
            .css( "height", "72px" )
          .end()
          .appendTo( $gallery )
          .fadeIn();
      });
    }
 
    // Image recycle function
    var trash_icon = "<a href='link/to/cart/script/when/we/have/js/off' title=add to the cart' class='ui-icon ui-icon-trash'>add to the cart</a>";
    function addItem( $item ) {
      $item.fadeOut(function() {
        var $list = $( "ul", $cart ).length ?
          $( "ul", $cart ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $cart );
 
        $item.find( "a.ui-icon-plusthick" ).remove();
        $item.append( trash_icon ).appendTo( $list ).fadeIn(function() {
          $item
            .animate({ width: "100px" })
            .find( "img" )
              .animate({ height: "56px" });
        });
      });
    }
 
    // Image preview function, demonstrating the ui.dialog used as a modal window
    function viewLargerImage( $link ) {
      var src = $link.attr( "href" ),
        title = $link.siblings( "img" ).attr( "alt" ),
        $modal = $( "img[src$='" + src + "']" );
 
      if ( $modal.length ) {
        $modal.dialog( "open" );
      } else {
        var img = $( "<img alt='" + title + "' width='384' height='288' style='display: none; padding: 8px;' />" )
          .attr( "src", src ).appendTo( "body" );
        setTimeout(function() {
          img.dialog({
            title: title,
            width: 600,
            modal: true
          });
        }, 1 );
      }
    }
 
    // Resolve the icons behavior with event delegation
    $( "ul.gallery > li" ).on( "click", function( event ) {
      var $item = $( this ),
        $target = $( event.target );
 
      if ( $target.is( "a.ui-icon-plusthick" ) ) {
        addItem( $item );
      } else if ( $target.is( "a.ui-icon-zoomin" ) ) {
        viewLargerImage( $target );
      } else if ( $target.is( "a.ui-icon-trash" ) ) {
        removeItem( $item );
      }
 
      return false;
    });
  } );
  </script>
</head>
<body>
<header>
    <% include ../partials/nav.ejs %>
</header>

<!-- Page Content -->
<main class="container">
        <div>
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
            <img class='singlepanel' src="https://www.wholesalesolar.com/cms/astronergy-chsm6612p-335-silver-poly-solar-panel-20181221174200.1977435.jpg" >
        </div>
        
        <div id='map' style='width: 1200px; height: 600px;'></div>
        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicGx4ZGV2aWNlc2FkYW0iLCJhIjoiY2pka3N6MzZ0MDBzMzJ4cjB4YzJ6azZ5byJ9.7uKN28ygFqfImEoBmH9Jrw';
        var map = new mapboxgl.Map({
        container: 'map',
        center: [-121.8823889,37.335228],
        zoom: 19,
        style: 'mapbox://styles/mapbox/satellite-streets-v10'
        });
        </script>
    </main>
  <p></p>     
<div class="ui-widget ui-helper-clearfix">
 
<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">Solar Panel</h5>
    <img src="https://www.wholesalesolar.com/cms/canadian-solar-cs6k-270p-black-poly-solar-panel-882039608.1930017.png" alt="The peaks of High Tatras" width="146" height="72">
    <a href="/images/panel.png" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/cart/script/when/we/have/js/off" title="add to cart" class="ui-icon ui-icon-plusthick">Delete image</a>
  </li>
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">Converter</h5>
    <img src="https://www.plxdevices.com/v/vspfiles/photos/897346002597-2T.png" alt="The chalet at the Green mountain lake" width="146" height="72">
    <a href="/images/converter.png" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/cart/script/when/we/have/js/off" title="add to cart" class="ui-icon ui-icon-plusthick">Delete image</a>
  </li>
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">Solar Power</h5>
    <img src="https://www.plxdevices.com/v/vspfiles/photos/897346002665-2T.jpg" alt="Planning the ascent" width="146" height="72">
    <a href="/images/power.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/cart/script/when/we/have/js/off" title="add to cart" class="ui-icon ui-icon-plusthick">Delete image</a>
  </li>
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">Solar Battery</h5>
    <img src="https://mondrian.mashable.com/uploads%252Fcard%252Fimage%252F408449%252F9419c228-190a-4366-86e4-9aec02e3d694.jpg%252F950x534__filters%253Aquality%252890%2529.jpg?signature=3ujntRWeEe4Ou9zWJoi8p7G0pCA=&source=https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com" alt="Tesla Battery" width="146" height="72">
    <a href="/images/battery.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/cart/script/when/we/have/js/off" title="add to cart" class="ui-icon ui-icon-plusthick">Delete image</a>
  </li>
</ul>
 
<div id="cart" class="ui-widget-content ui-state-default">
  <h4 class="ui-widget-header"><span class="ui-icon ui-icon-cart">Your Shopping Cart</span> Your Shopping Cart</h4>
</div>
 
</div>
 
<% include ../partials/footer.ejs %>
</body>
</html>
