<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body onload="">
<header>
    <% include ../partials/nav.ejs %>
</header>

<!-- Page Content -->
<main class="container">
    <div id='map' style='width: 1200px; height: 600px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicGx4ZGV2aWNlc2FkYW0iLCJhIjoiY2pka3N6MzZ0MDBzMzJ4cjB4YzJ6azZ5byJ9.7uKN28ygFqfImEoBmH9Jrw';
    var map = new mapboxgl.Map({
    container: 'map',
    center: [-121.8823889,37.335228],
    zoom: 19,
    style: 'mapbox://styles/mapbox/satellite-streets-v10'
    });
    </script>
</main>
    <% include ../partials/footer.ejs %>
</body>
</html>
