<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
<header>
    <% include ../partials/nav.ejs %>
</header>


<!-- Page Content -->
<main>
    <!--SEARCH CARD SECTION-->
    <div>
        <% include ../partials/search_card.ejs %>
    </div>
    <div>
        <% include ../partials/search_result.ejs %>
    </div>


</main>

<footer>
    <% include ../partials/footer.ejs %>

</footer>

</body>
</html>
