<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homework 4 Jquery UI</title>
    <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/south-street/jquery-ui.css">
    <style>
        #map {
            width: 1000px; height: 700px;
            background-image: url("/images/rooftop.jpg");
        }
        .ui-helper {
            width: 100px; height: 170px;
        }

        #draggableHelper{
            width: 50px;
            height: 100px;
            z-index: 1000;
        }
        #panel-image{
            width: 50px;
            height: 100px;
        }
        .frame{
            height: 120px;
        }
    </style>
    <script>

        $( function() {
            $('#draggableHelper').draggable();
            $('#panel-image').resizable();
            
            $( "#tabs" ).tabs({
                beforeLoad: function( event, ui ) {
                    ui.jqXHR.fail(function() {
                        ui.panel.html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo." );
                    });
                }
            });

            $( "input" ).checkboxradio();
            $( "fieldset" ).controlgroup();
            $( "[name='panel-type']").on( "change", updateImage);

            function updateImage(e) {
                var value = e.target.value;
                if (value === 'content1') {
                    $('#panel-image').attr("src", "/images/c1.jpg");
                    // $('#panel-image').css("background-image", "src(/images/c1.jpg)");
                } else if (value === 'content2') {
                    $('#panel-image').attr("src", "/images/c2.jpg");
                } else if (value === 'content3') {
                    $('#panel-image').attr("src", "/images/c3.jpg");
                } else {
                    console.log(e.target.value + " not found");
                }
                return false;
            }
        } );
    </script>
</head>

<body>

<div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
    <h3>Types of Solar Panels</h3>
    <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li><a href="ajax/content1.html" class="ui-tabs-anchor">Monocrystalline Solar Panels</a></li>
        <li><a href="ajax/content2.html" class="ui-tabs-anchor">Polycrystalline Solar Panels</a></li>
        <li><a href="ajax/content3.html" class="ui-tabs-anchor">Thin-Film Solar Cells</a></li>
        <li><a href="ajax/content4.html">Other Options to Consider</a></li>
    </ul>
</div>



<div class="widget">
    <h3>1.) Select a panel type</h3>
    <fieldset>
        <label for="shape-circle">Monocrystalline</label>
        <input type="radio" name="panel-type" id="shape-circle" value="content1" data-background-image="url(images/content1.jpg)" checked>
        <label for="shape-square">Polycrystalline</label>
        <input type="radio" name="panel-type" id="shape-square" value="content2" data-background-image="url(images/content2.jpg)">
        <label for="shape-pill">Thin-Film</label>
        <input type="radio" name="panel-type" id="shape-pill" value="content3" data-background-image="url(images/content3.jpg)">
    </fieldset>

</div>

<h3>2.) Resize and drag me to the map.</h3>

<div class='frame'>
    <div id="draggableHelper" style="display:inline-block">
        <img id="panel-image" src="images/c1.jpg" />
    </div>
</div>

<h3>3.) Adjust and Resize the panel after dropped. </h3>
<div id='map' style='width: 1200px; height: 600px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGx4ZGV2aWNlc2FkYW0iLCJhIjoiY2pka3N6MzZ0MDBzMzJ4cjB4YzJ6azZ5byJ9.7uKN28ygFqfImEoBmH9Jrw';
var map = new mapboxgl.Map({
container: 'map',
center: [-121.8823889,37.335228],
zoom: 19,
style: 'mapbox://styles/mapbox/satellite-streets-v10'
});
</script>
</body>
</html>